body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.titulo {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.voltar {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.CadastrarNovoEspaco {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.CadastrarNovoEspaco label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    font-size: 25px;
}

.CadastrarNovoEspaco input[type="text"],
.CadastrarNovoEspaco select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
}

.CadastrarNovoEspaco input[type="text"]:focus,
.CadastrarNovoEspaco select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.CadastrarNovoEspaco button {
    width: 100%;
    padding: 10px;
    background-color: #68a5e7;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.CadastrarNovoEspaco button:hover {
    background-color: #0056b3;
}


.espacoCadastrados {
    width: 100%;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
}


 .tabelaToda {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    border: none;
    color: white;
    font-size: 15px;
} 

.tabelaToda button {
    padding: 10px;
    margin: 10px;
    background-color: #043f7e;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.tituloTabala {
    font-size: 25px;
    padding: 10px 20px;
} 

.tabela {
    font-size: 25px;
    padding: 10px 20px;
}

.home {
    background-color: #0056b3;
    color: white;
    width: 100px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-cancelar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;    
}

.btn-reserva {
    background-color: #0b00aa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;    
}

.btn-reserva:focus{
    background-color: #0056b3;
}

.inp-btn {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
}

.NomeUsuario {
    padding: 8px 8px 0 8px;
    font-size: 25px;
}